:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #6b6b6b;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    background-image: url(./background.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding: 0;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
}

.navbar-nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: var(--bg-primary);
    text-decoration: none;
    color: var(--text-primary);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .nav-text {
    display: block;
}

.fa-primary {
    fill: #ff7eee;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.30ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.title {
    font-size: 50px;
    justify-content: center;
    padding: 5rem;
    width: 100%;
    text-align: center;
}

.sub {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 3rem;
}

article {
    display: flex;
    margin-left: 6rem;
    margin-right: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.category-title {
    font-family: 'Exo 2', sans-serif;
    align-items: flex-start;
    width: 100%;
}

.content {
    font-family: 'Exo 2', sans-serif;
    width: auto;
}
